@charset "utf-8";
/* Global Styles */

body {
	background-image: url("https://adventskalender.kleiner-polli-klecks.de/images/background.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

.container {
	margin: 0 auto;
	max-width: 900px;
}

/* Header */


header {
	padding: 50px 50px 50px 50px;
 	background-color: #ffffff;
	align-content: center;
}


h1 {
	font-family: 'Itim', cursive;
	color: #B9CB0A;
	font-size: 35px;
	line-height: 33px;
	font-weight: normal;
}

p, li, ul {
	font-family: 'ABeeZee', sans-serif;
	color: #333333;
	font-size: 15px;
	line-height: 22px;
	font-weight: normal;
}

a:link, a:visited, a:active {
	color: #B9CB0A;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #B9CB0A;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.flex-container > a > img {
	padding: 5px;
	width: 180px;
}

/* Footer */

footer .footerDisclaimer{
	font-family: 'Itim', cursive;
	color: #333333;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	float: center;
	margin: 0px 50px 50px 50px;
}
